[submodule "external/PointMAE"]
	path = external/PointMAE
	url = https://github.com/kohjakob/Point-MAE.git
[submodule "external/UnScene3D"]
	path = external/UnScene3D
	url = https://github.com/kohjakob/UnScene3D.git
[submodule "external/SAI3D"]
	path = external/SAI3D
	url = https://github.com/kohjakob/SAI3D.git